/* bouton pour la section du choix */

.btn-choose-pack {
  text-align: center;
  position: absolute;
  left: 29%;
}

.btn-choose {
  height: 55px;
  padding: 14px 36px;
  border: 1px solid var(--black, #000);
  background: var(--white, #ffffffd1);
  margin-top: 450px;
}

.btn-choose-past {
  margin-right: 305px;
}

.btn-choose > a {
  font-family: instrument-serif, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

/* bouton pour la section du passé */

.btn-past-pack {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 1300px;
}

.btn-past {
  padding: 14px 36px;
  border: 1px solid var(--black, #000);
  background: var(--white, #ffffffd1);
  margin-bottom: 120px;
  position: relative;
}

.btn-past > a {
  font-family: instrument-serif, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  padding: 14px 36px;
}

/* bouton pour la section du shop */

.btn-shop {
  height: 55px;
  padding: 14px 36px;
  border: 1px solid var(--black, #000);
  background: var(--white, #ffffffd1);
  margin-top: 20px;
  margin-bottom: 136px;
}

.btn-shop > a {
  font-family: instrument-serif, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}
