.choose {
  position: relative;
  height: 1650px;
}

.choose-video {
  margin: auto;
  width: 674px;
  height: 424px;
  background: rgb(74, 124, 86);
}

.choose-video-appear {
  padding-top: 800px;
}
