.footer-img-title {
  width: 15%;
  margin: auto;
  padding-top: 51px;
  padding-bottom: 23px;
}

.footer-text {
  color: var(--black, #000);
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 400;
  padding: 0 34px 23px;
}

.footer-mention {
  margin-top: 11px;
}
