.header-title-img {
  width: 60%;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-butterfly {
  position: absolute;
  top: 50%;
}

.header-butterfly-img {
  width: 60%;
}

////@keyframes titleDisappear {
// from {
//  opacity: 100%;
//}
//to {
//opacity: 0;
//}
//}
//animation-name: titleDisappear;
//animation-duration: 3s;
//animation-timing-function: linear;
//animation-iteration-count: 1;
//animation-fill-mode: forwards;
