.intro {
  height: 100vh;
}

.intro-train {
  width: 80%;
}

.intro-img-rightoleft > img {
  width: 50%;
}

.intro-butterfly > .header-butterfly-img {
  width: 5.5%;
  margin: 19px 57px;
}

.intro-img-rightoleft {
  display: flex;
  margin: 20px;
  margin-bottom: 100px;
}
