.shop {
  background: var(--Color-vert-gris, #e6edea);
}

.shop-img-books {
  position: relative;
}

.shop-img-books img {
  transition: opacity 0.3s ease-in-out;
}

.shop-book-img {
  width: 110%;
  margin-top: -90px;
  margin-left: -90px;
}

.shop-book-open {
  opacity: 0;
}

.shop-img-books:hover img.shop-book-img {
  opacity: 0;
}

.shop-img-books:hover img.shop-book-open {
  opacity: 1;
}

.shop-book-open {
  width: 100%;
  margin-top: -750px;
  margin-left: -90px;
}

.shop-text-information {
  color: var(--black, #000);
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 300;
}

.shop-feature > .shop-text-information {
  margin-top: 6px;
}

.shop-feature {
  margin-bottom: 36px;
  margin-top: 26px;
}

.shop-resume {
  margin-top: 15px;
}
