* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

.chose {
  background-image: url(../img/choise-moon.png);
  background-size: cover;
  height: 1650px;
}
